{{extend 'layout.html'}}
{{block content}}

<div class="row">
    <div class="page-header">
        <h1 class="text-center text-primary">Materiales en Inventario</h1>
    </div>
</div>

<div class="btn-group btn-group-justified">
    <a href="/{{=request.application}}/{{=request.controller}}/agregar" class="btn btn-primary" role='button'>Agregar</a>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Filtros<span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li><a href='/{{=request.application}}/{{=request.controller}}/listar/cantidad'>Cantidad</a></li>
            <li><a href='/{{=request.application}}/{{=request.controller}}/listar/nombre'>Nombre</a></li>
            <li><a href='/{{=request.application}}/{{=request.controller}}/listar/area'>Area</a></li>
        </ul>
    </div>
</div>

<br /><br />

<table class='table table-striped table-hover table-bordered'>
    <tr>
        <th class='text-center'>Nombre</th>
        <th class='text-center'>Cantidad</th>
        <th class='text-center'>Unidad de Medida</th>
        <th class='text-center'>Area</th>
        <th class='text-center'>Especificacion</th>
    </tr>
{{for x in filas: }}
    <tr>
        <td class='text-center'>{{=x.Nombre}}</td>
        <td class='text-center'>{{=x.Cantidad}}</td>
        <td class='text-center'>{{=x.Unidad_de_Medida}}</td>
        <td class='text-center'>{{=x.Area}}</td>
        <td class='text-center'>
            <a class="btn btn-primary btn-xs" data-toggle="collapse" href="#{{=x.id}}">Ver</a>
            <div id="{{=x.id}}" class="collapse">
                {{=x.Especificacion}}
            </div>
        </td>
        <td class='text-center'>
            <a href='/{{=request.application}}/{{=request.controller}}/modificar/{{=x.id}}' class="btn btn-primary btn-xs" role='button'>Modificar</a>
        </td>
    </tr>
{{ pass }}
</table>
{{end}}
